%absolute-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.world {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #cccccc;
    .splash-container {
        @extend %absolute-center;
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: 100%;
        .splash-text-box {
            display: flex;
            width: 50%;
            min-width: 500px;
            height: 50%;
            justify-content: space-between;
            .splash-text {
                position: relative;
                opacity: 0;
                height: 0px;
                font-size: 56px;
                font-weight: bold;
            }
            .splash-point {
                opacity: 0;
            }
        }
    }
}